@import url(http://fonts.googleapis.com/css?family=Orbitron);


h1,h2,h3,h4, p, li, a, dd, dt{
	font-family: 'Orbitron', sans-serif;
	color: white;
} 

body{
	background-image: url("unit1_projects/images/skyline_NYC-1-3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

header{
	padding-top:10px;
	padding-left: 10px;
	width: 100%;
	height: 200px;
	background-color: rgba(0,0,0,1);
	color: white;
	vertical-align: text-bottom;
}

header h1{
	font-size: 60px;
}

header ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 3em;
	color: rgba(255, 255, 255, 0.6);
}

header ul li:hover{
	color: rgba(230, 255, 230, 0.4);
	transition-property: color, -webkit-transform;
    transition-duration: 1s;
    transition-timing-function: easeIn;

}

header ul li:active{
	color: red;
}

header ul li:visited{
	color: grey;
}
.icon-box{
	position: relative;
	top:100px;
	width: 700px;
	height: 150px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.9)
}

.icon-box ul li {
	padding-top: 30px;
	list-style-type: none;
	display: inline-block;
	margin-left: 5em;
	color: rgba(255, 255, 255, 0.6);
	transition-property: color, -webkit-transform;
    transition-duration: 1s;
    transition-timing-function: easeIn;

}
.icon-box ul li:hover{
	color: rgba(0,0,255,0.5);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.about-me{
	position: relative;
	top: 250px;
	height: 20em;
	padding: 10px;
	width: 100%;
	background-color: rgba(0,0,0,.9)
}
.my-info{
	float: left;
	margin-left: 3em;
}

dd{
	margin-bottom: .5em;
	font-size: 1em;
}


