@import url(http://fonts.googleapis.com/css?family=Raleway);

h1,h2,h3,h4, p, li, a, dd, dt{
  font-family: 'Raleway', sans-serif;
	color: white;
} 

body{
	background-image: url("https://s3-us-west-2.amazonaws.com/aevisionzbucket/web+dev+screenshots/bk_bridge-3417-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  background-attachment: fixed;
	width: 100%;
	margin: 0px;
	padding: 0px;
	transition-duration: 2s;
}

header{
	width: 100%;
	color: white;
}

.container{
	width: 90%;
	margin: 0 auto;
}
.nav .h1-title{
	display: inline-block;
	font-size: 33px;
	font-weight: lighter;
	width: 265px;
	margin-top:-30px;

}
.anthony{
	font-size: 70px;
	font-weight: bolder;
	display: block;
	font-variant: small-caps;
}

.navbar{
	display: inline-block;    
}

.navbar ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 2em;
	border-bottom: 1px solid #DBAD11;
	color: rgba(255, 255, 255, 0.6);
}

.navbar h1{
	display: inline-block;
}

.navbar ul li:hover{
	position: relative;
	top: -5px;
	padding-bottom: 5px;
	color: #DBAD11;
	border-bottom: 2px solid #DBAD11;
	-webkit-transform-style: preserve-3d;
  transition-duration: .5s;
}

.navbar .active {
	color: #DBAD11;
}

.social-icons{
	width: 200px;
	display: inline-block;
	float: right;

}
.social-icons ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 1em;
	color: rgba(255, 255, 255, 0.6);
	transition-property: color, -webkit-transform;
  transition-duration: 1s;
  transition-timing-function: easeIn;
}

.social-icons ul li:hover{
	color: #DBAD11;
    -webkit-transform:rotate(45deg);
    transform:rotate(40deg);
    border-bottom: 2px solid #DBAD11;
}

.about-me{
	position: relative;
	top: 470px;
	height: 30em;
	padding: 10px;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	transition-durations: 1s;
}

.my-info{
	float: left;
	margin-left: 3em;
}
.interests{
	float: left;
	margin-left: 3em;
}

.about-me div dl dd:hover{
	position: relative;
	padding-left: 10px;
	left:30px;
	border-left: 2px solid #DBAD11;
}

dd,p{
	margin-bottom: .5em;
}

dt{
	margin-bottom: .5em;
	color: #DB5511;

}

p{
	line-height: 1.5em;
}

span{

	color: #DBAD11;
}
.about-me h1{
	margin-left: 10px;
}
h2, h3{
	color: #DBAD11;
}

.resume{
	position: relative;
	top: 470px;
	padding: 10px;
	width: 100%;
	background-color: rgba(0,0,0,1);
	overflow: scroll;
}

.resume dd{
	margin-bottom: .5em;
}


.projects{
	position: relative;
	top: 470px;
	padding: 10px;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	overflow: scroll;
}

.project{
	margin-bottom: 5px;
	height: 250px;
	clear:both;
	transition-duration: 2s;

}

.img-wrapper{
	width: 210px;
	height:210px;
	border-radius: 50%;
	float: left;
	overflow: hidden;
	margin-right:30px;
	transition-duration: 1s;
}

.img-wrapper:hover{
  width: 220px;
	height:220px;
	border: solid 4px #DBAD11;
	overflow: hidden;
	border-radius: 5%;
	transition-duration: 1s;
}

.image-1{
	background-image: url("https://s3-us-west-2.amazonaws.com/aevisionzbucket/web+dev+screenshots/rest-less.png");
	background-size: 250px 250px;
	background-repeat: no-repeat;
}
.image-2{
  background-image: url("https://s3-us-west-2.amazonaws.com/aevisionzbucket/web+dev+screenshots/FantasyMockDraft.png");
	background-size: 250px 250px;
	background-repeat: no-repeat;
}
.image-3{
	background-image: url("https://s3-us-west-2.amazonaws.com/aevisionzbucket/web+dev+screenshots/AevisionzScreenshot.png");
	background-size: 250px 250px;
	background-repeat: no-repeat;

}
.image-4{
	background-image: url("https://s3-us-west-2.amazonaws.com/aevisionzbucket/web+dev+screenshots/Jforuscreenshot.png");
	background-size: 250px 250px;
	background-repeat: no-repeat;

}
.image-5{
	background-image: url("https://s3-us-west-2.amazonaws.com/aevisionzbucket/web+dev+screenshots/MooreandMooreFitness.png");
	background-size: 250px 250px;
	background-repeat: no-repeat;
}
.project-description p{
	color:white;
}
.project-description span{
	font-size:23px;

}
.project-description a{
	text-decoration: none;
}
.project-description{
	padding-left: 200px;
	padding-right:50px;
}


