body{
	background-image: url("unit1_projects/images/skyline_NYC-1-3_blur.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	font-family: 'Cinzel', serif;
}

.facebook{

}

.linked-in{

}

.aevisionz{

}

.github{

}

.blog{

}

.twitter{

}


img{
	margin: 0 auto;
	display: block;
}
#sidebar .image{
	width: 200px;
	height: auto;
}

.image{
	width: auto;
	height: 200px;
}

#head{
	width: 100%;
	background-color: #0C090A;
	height: 7em;
	position: absolute;
	padding: .5em;
	opacity: .8;
	color: white;
	display: inline-block;
}

#head h3{
	margin-left: 6em;
}

.clock{
	width: 100%;
	float: right;
	margin-left: 4em; 
	color: black;
}

#box{
width: 65%;
float:left;
margin-top: 18em;
}

.icon-box{
	position: relative;
	top:200px;
	width: 900px;
	height: 200px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.7)
}

.icon-box ul li {
	padding-top: 60px;
	list-style-type: none;
	display: inline-block;
	margin-left: 5em;
	color: white;
	transition-property: color, -webkit-transform;
    transition-duration: 1s;
    transition-timing-function: easeIn ;

}
.icon-box ul li:hover{
	color: orange;
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

#sidebar{
	width: 30%;
	background-color: black;
	border-radius: .5em;
	opacity: .6;
	float: right;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 10em;
	border-radius: .5em;
	color: white;
	padding: .5em;

}
section h1{
	text-align: center;
	padding-top: 50%;
}

 dd:hover{
	background-color: white;
	opacity: .5;
	color: black;	
}

dd{
	color: white;
}
a:link{
	text-decoration: none;
	color: white;
}
.inner_box:hover{
	background-color: white;
	opacity: .3;
	color: black;
}

.inner_box{
	width: 13em;
	height: 20em;
	background-color: black;
	opacity: .6;
	float: left;
	margin-left: 2em;
	border-radius: .5em;
	color: white;
	padding: .5em;

}


