#header {
	width: 100%;
	height: 50px;
	padding: 5px 30px 30px 30px;

}

#content {
	padding: 50px 50px 50px 50px;
}

#footer {
	background-color: DimGray;
	width: 100%;
	height: 50px;
	padding: 5px 30px 30px 30px;
	clear:both;
}
#sidebar{
	width: 26%;
	height: auto;
	float: right;
	border: 1px solid black;
	padding: 1em;
	margin-bottom: 3em;
	min-width: 300px; 10px;
}

.imagebox{
	font-family: verdana;
	background-color: darkgray;
	width: 60%;
	height: auto;
	padding: 1em;
	float: left;
	vertical-align: top;
	clear: right;
	border: 1px solid black;
	margin-bottom: 3em;
	min-width: 300px;
}

.italic{ 
  font-style: italic; 
}

img{
	margin: 0 auto;
	display: block;
}
.image{
	width: 200px;
	height: auto;
}

.image{
	width: auto;
	height: 200px;
}

.imageblog{
	width: 300px;
	height: auto;
}
.imageblog{
	width: auto;
	height: 400px;
}
h3{
	font-family:verdana;
}

h1{
	font-family:verdana;
}
ul li{
font-family:verdana;
}

 a:link{
	color:black;
	text-decoration: none;

}



body{
	margin: 0 auto; 
	background-color: #4C4646;
	background-repeat: no-repeat;
	background-image: url("http://www.pinkimp.com/images/background.jpg");
	background-attachment: fixed;
}