#header {
	width: 100%;
	height: 50px;
	padding: 5px 30px 30px 30px;

}


#content {
	padding: 50px 50px 50px 50px;
}

#footer {
	background-color: DimGray;
	width: 100%;
	height: 50px;
	padding: 5px 30px 30px 30px;
	clear:both;
}
#sidebar{
	width: 26%;
	height: auto;
	float: right;
	border: 1px solid black;
	padding: 1em;
	margin-bottom: 3em;
	margin-top: 2em;
	min-width: 300px; 10px;
	border-radius: 30px;
}

.imagebox{
	font-family: verdana;
	background-color: none;
	width: 60%;
	height: auto;
	padding: 1em;
	float: left;
	vertical-align: top;
	clear: right;
	margin-bottom: 3em;
	margin-top: 2em;
	min-width: 300px;
	border-radius: 30px;

}

.italic{ 
  font-style: italic; 
}

img{
	margin: 0 auto;
	display: block;
}
.image{
	width: 200px;
	height: auto;
}

.image{
	width: auto;
	height: 200px;
}

.imageblog{
	width: 300px;
	height: auto;
}
.imageblog{
	width: auto;
	height: 400px;
}
.code{
	color: white; 
	background-color: black;
	
	padding: 5px;
}


 a:link{
	color:black;
	text-decoration: none;
}
h2 {
	font-family: 'Coming Soon', cursive;
}
h3  {
	font-family: 'Coming Soon', cursive;
}
html{
	font-family: 'Coming Soon', cursive;
}
p{
	font-family: 'Coming Soon', cursive;
}


body{
	margin: 0 auto; 
	background-color: #4C4646;
	background-repeat: no-repeat;
	background-image: url("http://www.aapopuskala.fi/_img/paper.jpg");
	background-attachment: fixed;
	font-family: 'Coming Soon', cursive;
}