.item{
	flex: 1 100%;
	background-color: #FFC500;
	border: solid .2em #FFDF73;

}

.box{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.code{
	color: white; 
	background-color: #4188D2;	
	padding: .5em;
	margin-right: 2em;
}
.pad{
	padding-left: 2em;
}

ul li {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

/*li:nth-child(odd) {
    background-color: #FF5600;
}*/

body {
	background-color: #FF9900;
}