h1, h2, h3 {
color: blue;
}
p {
color: MidnightBlue;
word-spacing: 5px;
text-transform: capitalize;
}
li {
text-align: center;
}

#db {
background-color: BurlyWood;
text-align: left;
}
.dbc {
background-color: CornFlowerBlue;
}

.dbc1 {
background-color: CadetBlue;
}